*{ 
    margin:0;
}
.animation-bar{
    background-color:#ffdab3;
    height: 30px;
    width: 2000px;
    text-align: center;
    
    
}
.top-animation-bar{ 
    height: 60px;
    text-align: start;
    /*padding-left:100px ;
    padding-top: 40px;
    margin-bottom: 40px;*/
    align-items: center;
    
}

.nav{
    background-color: rgb(30, 28, 29);
    background-attachment: fixed;
    display: flex;
    height: 120px;
    width: 2000px;
}
.chem-nav{ 
      
      padding: 8px;
      width: 20px;
      margin-top: 20px;
      font-size: 30px;
     }
     
.menu-ico{
    color: white;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    display: none;

    /*background-color: white;
    */
        
}
.nav-link{
    
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    
}

.nav-a{
    justify-content: space-between;
    padding: 15px;    
    color: aliceblue; 
}
.nav-link a{
    
    color: rgb(228, 220, 220); 
    align-items: center;
    text-decoration: none;
    display: flex;
}
/*.dropdown{ 
    div {background-color: green;}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}
}*/
.nav-b{
    
    display: flex;
    height: 40px;
    color: gray;
    border: rgb(30, 28, 29);;
    
}
.nav-ico{
    display: flex;
    margin: 20px;
    padding: 15px;
    

}
.serch-ico{
    border: black;
    height: 20px;
    margin: 4%;
    margin-right: 100px;
}
.face-ico{
    color:rgb(207, 199, 199);
    font-size: 50px;
    margin: 5% 10px 10px ;
    display: flex;
    margin-top: 23px;
    
}
.insta-ico{
    color: white;
    margin-top: 30px;
    margin: 5% 10px 10px;
    margin-top: 23px;

}

.fav-ico{
    color: gold;
    margin:5% 8px 10px;
    display: flex;
    font-size: 50px;
    margin-top: 23px;
}
.shop-cart{
    color: gold;
    margin-top: 30px;
    margin:5% 8px 10px;
    display: flex;
    margin-top: 23px;

}
.home-image{
    background-size: cover;
    height: 600px;
    width: 2000px;
    background-image: url('../mages/1sthome.jpg');
    background-repeat: no-repeat; 
    
}
.home-head{
    color: white;
    margin-left: 100px;
    padding: 90px;
}

.shop-button{ height: 50px; 
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 18px;
    border: none;
    margin-left: 250px;
    color: rgb(71, 66, 66);
    
    }
.dis-button{
    height: 50px; 
    width: 140px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 18px;
    border: none;
    margin-left: 230px;
    color: rgb(71, 66, 66);
    
}
.circle-main{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.circle-out{
    height: 200px;
    border-radius: 360px;
    width: 200px;
    margin: 0 10px;
    background-color: transparent;
}
.circleimg-1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: url(/mages/Wedding.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circleimg-2{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: url(/mages/Stitching.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circleimg-3{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: url(/mages/Saree.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circleimg-4{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: url(/mages/sale.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circleimg-5{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: url(/mages/Party-wear.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circleimg-6{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: url(/mages/Unstitched-sets.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .circleimg img{
    height: 100%;
    width: 100%;
} */
.hed-bestsellingproduct{
    color: gray;
     text-align: center;
      margin-top: 50px;
    
    }

.box{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4px;
   /*background-color: green;*/
    flex-wrap: wrap;
    padding: 50px;
    height:100vh ;
    width: 100%;
    text-align: center;
    align-items: center;
}
.box1{
    width: 25%;
    height: 50%;
    margin: 20px 20px;
    /*background-color: red;*/
    padding: 5px;
}
.box1-img{
    
    /*background-color: yellow;*/
    height: 60%;
    width: 100%;
}
.box1-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.box1-content{
    /*background-color: pink;*/
    height: 40%;
    width: 100%;

}   

.content{
    margin-left: 4%;
    margin-top: 4px;
    color: gray;
    text-align: justify;
    font-size: 20px;
}
.like-ico{
    margin-left: 300px;
}
.browser-button button{
    color: gray;
     text-align: center;
      margin-top: 40px;
      margin-left: 40%;
      margin-bottom: 20PX;
      padding: 20px;
    
}
.new-arrivals{
    margin-top: 50px;
    margin-left:40% ;
    color: rgb(100, 97, 97);

} 
.footer{
    background-color: black;
    height: 300px;
    width: 100%;
    display: flex;
    
}  
.footer-logo{
    margin-top: 90px;
    margin-left: 300px;
    margin-right: 50px;
}
.footer-solutions{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;

}

.footer-solutions li{ 
    list-style: none;
    margin: 10px 10px;
}
.footer-solutions h4{
    margin-bottom: 20px;
    margin-top: 1px;

}

.footer{
    background-color: black;
    display: flex;
    height:350px;
    width: 2000px;


}
.footer h4{
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer li{
    list-style: none;
    margin: 15px;
    color: rgb(175, 175, 175);
}
.footer div{
    font-size: 15px;
    font-weight: 500px;
    margin-left: 200px;
    margin-top: 50px;
}
.footlogo{
    margin-left: 0px;
    margin-top: 50px;
    margin-right: 60px;
}
.foot2{
    margin-left: 0px;
    
}








@media(max-width: 854px){
    .menu-ico{
        display: inline;
    }
    .nav-link{ 
        display: none;
    }

    .nav-ico{
         display: none;
        }
    
    .animation-bar{
        width: 100%;
    }
    .nav{
        width: 100%;
    }
    .home-image{ 
        background-image: url('../mages/2ndhome');
        width: 100%;
        height: 1600px;
    }
    
    .circleimg-6,.circleimg-5,.circleimg-4,.circleimg-3{
         display: none;
         width: 50%;
         height: 50%;
         margin-left: 40px;
        }
    
    .hed-bestsellingproduct{ display: none;}
    
    .browser-button{ display: none;}
    
    .new-arrivals{display: none;}
    
    .footer{
        width: 100%;
    }
}


















